/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700|Roboto+Mono:300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-- KEEPING FOOTER AT THE BOTTOM --*/
html, body {
    width: 100%;
    height: 100%;
}
article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}


a,a:active, a:visited, a:focus, a:hover{
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor:pointer;
}

/*-- GENERAL --*/

body{
    font-family: "Fira Code", sans-serif;
    font-weight: 200;
}

footer{
    display: flex;
}

header{
    padding: 10px;
}
ul,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.shadow{
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.button-effect{
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}
.page-title{
    text-align: center;
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #ccc;
    font-size:2rem;
}

.roboto {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.fira {
    font-family: "Fira Code",sans-serif;
    font-weight: 100;
    font-size: 40px;
}
.smaller-title{
    text-align: center;
    vertical-align: center;
    margin-top: 30px;
}

.large-title{
    text-align: center;
    vertical-align: center;
}
/*-- TEXT SIZES --*/
.score-text{
    text-transform: uppercase;
    font-family: "Fira Code", sans-serif;
    font-weight: 700;
    font-size: 6vh;
    color: #fd6470;
    margin: 0;
    height: 100%;
}

.title-text{
    font-family: "Fira Code",sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.subtitle-text{
    font-weight: 500;
    font-size: 40px;
    font-family: "Fira Code", sans-serif;

}

.middle-text{
    font-weight: 400;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
}

.small-text{
    font-family: "Fira Code", sans-serif;
    font-weight: 300;
    font-size: 0,4rem;
    text-transform: uppercase;
}

.dot-icon{
    font-size: 4vh;
    color: #fd6470;
    box-shadow: inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
   border-radius: 50%;
   transition: color 1000ms ease-in-out;
}

.dot-icon:hover,
.dot-icon:focus,
.dot-icon:active{
    color: rgba(112, 128, 144, 0.6);
    box-shadow: 
      inset 7px 7px 15px rgba(55, 84, 170,.15),
      inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);

}
/*-- HEADER --*/
.top{
    display: flex;
    justify-content: flex-end;
    height: 0;
}

.copyright{
    font-size: 20px;
    color: rgba(112,126,144,1);
    justify-content: center;
    margin: 10px;
}

/*-- LANDING --*/

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
    width: 50%;
    border: 1px solid #ccc;
}

.title-item{
    flex-basis: 700%;
    height: 10vh;
    margin: 10px;
}


#js-card-menu{
    display:none;
    background:white;
    z-index: 5;
}

.landing-page{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}

.landingpage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 70vh;    
    overflow: auto;
    border: 1px solid #ccc;
    margin: 5px;
}

.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 70vh;    
    overflow: auto;
    border: 1px solid #ccc;
}
.login-description{
    width: 80%;
    text-align: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    min-height: 50vh;
    width: 80%;
}

.login-explanation{
    text-align: center;
}

.login-inputs-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.login-input{
    min-width: 100%;
    margin: 5px;
    border-radius:5px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}


/*-- FANCY INPUT --*/

/*-- UNDERSTAND PAGE --*/

#js-understand-page{
    display:none;
}

.understand-page{
    display: block;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    overflow: scroll;
}

.understand-page-example,
.understand-page-logic{
    height: 90vh;
}

#js-card-understand {
    background-color: lightslategray;
    cursor: pointer;
}

.scoringprocess-pages,
.dashboard-pages-logic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-dummy{
    height: 69vh;
    width: 45vh;
    border: 1px solid #ccc;
    order: 1;
    margin: 20px;
    background-position: center center;
	background-size: cover;
}

/*-- UNDERSTAND PAGE-PROCESS SECTION --*/
.process-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin: auto;
}

.process-step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 12vh;
    width: 90%;
    margin: 10px;
}

.process-step-number{
    border: 1px solid #ccc;
    height: 10vh;
    width: 10vh;
    border-radius: 50%; 
    margin:5px;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

}
.process-step-icon{
    font-size: 40px;
    color: #fd6470;
}

.process-step-title{
    margin-left: 10px;
    width: 40vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
}
.process-step-description{
    font-size: 0,5rem;
    color:rgba(112,126,144,1);
}

/*-- UNDERSTAND PAGE-LOGIC SECTION --*/
.logic-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.logic-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    width: 95%;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.logic-card-title{
    text-align: center;
}

.logic-description{
    width: 100%;
    padding: 10px;
    text-align: left;
}
.scorecard-exmaple-theory,
.scorecard-exmaple-project{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    perspective: 1000px;
}

/*-- SCORE_PAGE --*/
#js-projects{
    display:none;
    z-index: 5;
}

#js-theory{
    display:none;
    z-index: 6;
}

.score-page{
    display: flex;
    position: fixed;
    top:0;
    height:100vh;
    width:100vw;
}

.score-page-content{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

/*-- SCORE_PAGE_SUMMARY --*/
.scorepage-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 20px 0 20px;
    max-height: 7vh;
}


.score-theory-summary,
.score-project-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 72vh;    
    overflow: auto;
    border: 1px solid #ccc;
}

.theory-summary-title,
.project-summary-title{
    margin-top: 10px;
    max-width: 50%;
    text-align: center;
}

.progress-wrapper{
    width: 20vh;
}

.progress-score-bar{
    height: 3px;
    width: 100%
}

.projects-progress-bar{
    width: 0;
    background-color: black;
}

.theory-progress-bar{
    width: 0;
    background-color: black;
}



.chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vh;
    text-align: center;
    margin-top: 0;
}

.project-progress-title{
    text-align: center;
}

.chart-project-score{
    font-family:"Roboto-Mono", sans-serif;
    font-weight: 700;
    height: 100%;
}

.projects-score{
    position:relative;
    top: 47%;
    height: 5vh;
}

.button{
    margin-bottom: 20px;
 
}

/*-- CHART STYLING https://codepen.io/sergiopedercini/pen/aWawra?editors=1000 --*/
.circular-chart{
    width: 100%;
    max-height: 100%;
    margin-top: 0;
    padding: 10px;
}

.circle-incomplete{
  stroke: #fd6470;
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  z-index: 1;
}

.circle-complete{

    stroke: rgba(0,0,0,0.1);
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/*-- PROJECTS-SCORING PAGE --*/
.projects-background{
    background-color: rgba(38,80,119,0.2);
}

.scoring-logic-section,
.process-section,
.score-project-section{
    position: relative;
    height: 85vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll; 
    border: 1px solid #ccc;
}


.scorecard{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vh;
    perspective: 1000px;
}

.scorecard-face{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.ucfed-scorecard-animation,
.ifed-scorecard-animation,
.dcd-scorecard-animation,
.fsd-scorecard-animation,
.scorecard-animation{
    width: 100%;
    height: 100%;
    transition: transform  0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.scorecard-animation.is-open{
    transform: rotateY(180deg);
}

.scorecard-face-front{
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(38,80,119,0.5);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.scorecard-face-back{
    flex-direction:column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(38,80,119,0.5);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.scorcard-score{
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   font-size: 2vh;
   margin-left: 5px;
}

.scorecard-title{
    width: 28vh;
    padding: 5px;
    text-align: center;
    line-height: 1.5;
}


.scorecard-options{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 5px;
    width: 35vh;
}


.projects-score-circle,
.score-circle {
    border: rgba(38,80,119,1);
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   background-color: #fafafa;
   font-size: 2vh;
}

.card-score-definition{
    text-align: left;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 1.5vh;
}

.none{
    background-color: lightgrey;
}

.gold{
    background-color: rgba(255, 215, 0 , 0.5);
    box-shadow: none;
}

.silver{
    background-color: rgba(108,132,134 ,0.5 );
    box-shadow: none;
}

.bronze{
    background-color: rgba(205, 127, 50, 0.5);
    box-shadow: none;
}

.projects-score-circle.bronze:hover,
.score-circle.bronze:hover{
    background-color: lightgrey;
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
}

.projects-score-circle.gold:hover,
.score-circle.gold:hover{
    background-color: rgba(255,215,0 ,1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

.projects-score-circle.silver:hover,
.score-circle.silver:hover{
    background-color: rgba(108,132,134,1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

.projects-score-circle.bronze:hover,
.score-circle.bronze:hover{
    background-color: rgba(205, 127, 50, 1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

/*-- THEORY SCORING PAGE--*/

.theory-background{
    background-color: rgba(73,75,104,0.4);
}
/*-- Theory Element Scorecard --*/ 

.score-modules-section{
    position: relative;
    width: 70vh;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: scroll; 
    border: 1px solid #ccc;
}

.modules-scorecard-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.scorecard-module{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39vh;
}

.scorecard-animation-module{
    width: 100%;
    height: 15vh;
    transition: transform  0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.scorecard-face-module{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: rgba( 73,75,104, 0.5);
}



.scorecard-module-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.progress-wrapper-module{
    width: 15vh;
    margin-top: 15px;
    align-self: center;
    justify-content: space-around;
}

/*-- Theory Element Scorecard --*/ 


.scorecard-element{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39vh;
    perspective: 1000px;
    border-radius: 5px;
    margin-top:5px;
}

.scorecard-animation-element{
    width: 100%;
    height: 100%;
}



.scorecard-face-element{
    height: 15vh;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
}

.scorecard-face-front-element{
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.scorecard-face-back-element {
    width: 100%;
    position: relative;
    flex-direction:column;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

.scorecard-title-element{
    width: 70%;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    font-family: "Roboto-Mono", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #f1f1f1;
}

.hidden{
    display: none;
}

.scorecard-title-mod{
    width: 25vh;
    padding: 5px;
    text-align: left;
    line-height: 1.2;
    margin-left:10px;
    font-size: 1rem;
}

.progress-definition{
    text-align: center;
    margin-top: 10px;
    line-height: 1;
    font-size: 1.5vh;
}
.scorecard-logic{
    padding-left: 10px;
}
/*-- Connector to js progress calculator --*/

.module-progress-bar{
    width: 0;
    background-color: black;
}

/*-- DASHBOARD PREVIEW PAGE --*/
.dashboard-page-content{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
}

.dashboard-page-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    width: 70vh;    
    overflow: auto;
    border: 1px solid #ccc;
    margin: 0 5px 0 5px;
    background-color:#f1f1f1;
    box-shadow:2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);;
}

.dashboard-title{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.dashboard-subtitle{
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.dashboard-small-title{
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.dashboard-bold-text{
    font-size: 12px;
    text-align: center;
}

.dashboard-norm-text{
    font-size: 10px;
    text-align: center;
}

.dashboard-header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.dashboard-body{
    width: 100%;
    height: 70vh;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.dashboard-footer{
    width: 100%;
    height: 5vh;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.dashboard-name{
    text-transform: uppercase;
    color: red;
    font-family:"Roboto Mono", sans-serif;
    margin: 0;
}
.dashboard-donuts-section{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.dashboard-detail-section{
    width: 100%;
    height: 40vh;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.dashboard-barcharts-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}

.dashboard-logic-section{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ccc;
}

.dashboard-logic-title,
.dashboard-donut-title{
    width: 100%;
    height: 5vh;
    text-align: center;
    padding-top: 5px;
    text-decoration: underline;
}

.dashboard-donut{
    width: 30vh;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.dashboard-details-section{
    width: 100%;
    height: 40vh;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-detail{
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.dashboard-project-medals{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dashboard-medal-wrapper{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dashboard-project-circle{
    height:7vh;
    width: 7vh;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dashboard-project-title{
    flex: 3;
    height: 7vh;
    width: 70%;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.dashboard-modules-chart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dashboard-module-bar{
    width: 40%;
    height: 12px;
}

.dashboard-module-wrapper{
    width: 90%;
    height: 8.5;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    flex-direction: row;
}

.dashboard-module-title{
    height: 3.5vh;
    width: 60%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}
.dashboard-skills-section{
    width: 33%;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}
.dashboard-skills-title{
    height: 5vh;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    text-decoration: underline;
}
.dashboard-logics-wrapper{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.dashbord-logic-square{
    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.dashboard-logic-description{
    font-size: 12px;
}

.dashboard-skill-wrapper{
    width: 90%;
    height: 8.5;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
    flex-direction: row;
}

.dashboard-skill-bar{
    width: 35%;
    height: 12px;
}

.dashboard-skill-title{
    height: 3.5vh;
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
}
/*-- CHARTS --*/
.dashboard-donut-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    width: 25vh;
    text-align: center;
    margin-top: 0;
}

.dashboard-circular-chart{
    width: 100%;
    max-height: 100%;
    margin-top: 0;
    position: relative;
    top:0;
}

.dashboard-circle-incomplete{
  stroke: black;
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  z-index: 1;
}

.dashboard-circle-complete{

    stroke: rgba(0,0,0,0.1);
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.dashboard-score-text{
    position: relative;
    top:47%;
    font-size: 20px;
}

.progress{
    background-color:lightgrey;
    border-radius: 2px;
}