/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700|Roboto+Mono:300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-- MEDIAQUERIES to fix responsiveness issues --*/


@media only screen and (max-device-width: 450px) {
   .logic-description {
       font-size: 12px;
   }
   .small-text{
       font-size: 10px;
   }

   .login-explanation{
       font-size: 10px;
   }
   .scorecard-title-element{
       font-size: 10px;
   }
}


/*-- KEEPING FOOTER AT THE BOTTOM --*/
html, body {
    width: 100%;
    height: 100%;
}
article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
.landing-background{
    /*-- source:https://css-tricks.com/perfect-full-page-background-image/ --*/
    background-image: linear-gradient(to right bottom, #051937, #084167, #006e97, #009fc4, #12d3eb);
}

main {
    flex-grow: 1;
}


a,a:active, a:visited, a:focus, a:hover{
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor:pointer;
}

/*-- GENERAL --*/

body{
    font-family: "Fira Code", sans-serif;
    font-weight: 200;
    color:rgb(78, 73, 73)
}

footer{
    display: flex;
    margin: 0;
}

ul,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.shadow{
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.button-effect{
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}

.page-title{
    text-align: center;
    margin: 0 10px 0 10px;
    font-size:2rem;
}

.theory-button{
    text-align: center;
 
}

.smaller-title{
    text-align: center;
    vertical-align: center;
    margin-top: 30px;
}

.large-title{
    text-align: center;
    vertical-align: center;
}

/*-- TEXT SIZES --*/
.score-text{
    text-transform: uppercase;
    font-family: "Fira Code", sans-serif;
    font-weight: 700;
    font-size: 6vh;
    color: #fd6470;
    margin: 0;
    height: 100%;
}

.title-text{
    font-family: "Fira Code",sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.subtitle-text{
    font-weight: 500;
    font-size: 40px;
    font-family: "Fira Code", sans-serif;

}

.middle-text{
    font-weight: 400;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
}

.small-text{
    font-family: "Fira Code", sans-serif;
    font-weight: 300;
    font-size: .8rem;
}

.text-light{
    color: #fafafa;
}

.dot-icon{
    font-size: 4vh;
    color: #fd6470;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    border-radius: 50%;
    transition: color 10ms ease-in-out;
    border-radius: 50%;
}

.dot-icon:hover,
.dot-icon:focus,
.dot-icon:active{
    color: red;
    box-shadow: 
      inset 7px 7px 15px rgba(55, 84, 170,.15),
      inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);

}
/*-- HEADER --*/
.top{
    display: flex;
    justify-content: flex-end;
    height: 0;
}

.copyright{
    font-size: 20px;
    color: rgb(77, 86, 99);
    justify-content: center;
}

/*-- LANDING --*/

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
    width: 50%;
}

.title-item{
    flex-basis: 700%;
    height: 10vh;
    margin: 10px;
}


#js-card-menu{
    display:none;
    background:white;
    z-index: 5;
}

.landing-page{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    height: 100%;
}

.landingpage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 70vh;    
    overflow: auto;
    border-radius: 10px;
    /*-- source for frost effect: https://webdesign.tutsplus.com/tutorials/how-to-create-a-frosted-glass-effect-in-css--cms-32535 
    --*/
    background-color: rgba(255, 255, 255, .2); 
    backdrop-filter: blur(10px);
    margin: 10px;
}

.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 70vh;    
    overflow: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);  
    backdrop-filter: blur(10px);
    margin: 10px;
}

.login-description{
    width: 80%;
    text-align: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    min-height: 50vh;
    width: 80%;
}

.login-explanation{
    text-align: center;
}

.login-inputs-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.login-input{
    min-width: 100%;
    margin: 5px;
    border-radius:5px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

/*-- UNDERSTAND PAGE --*/

#js-understand-page{
    display:none;
}

.understand-page{
    display: block;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    overflow: scroll;
    
}

#js-card-understand {
    background-color: lightslategray;
    cursor: pointer;
}

.understand-page-logic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #4d6180, #55658c, #606997, #6d6ca1, #7d6ea9);
}

.scoringprocess-pages,
.dashboard-pages-logic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.dashboard-dummy{
    height: 45vh;
    width: 36vh;
    order: 1;
    margin: 20px;
    background-position: center center;
	background-size: cover;
}

/*-- UNDERSTAND PAGE-PROCESS SECTION --*/
.process-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin: auto;
}

.process-title{
    margin-bottom: 10px;
}

.process-step{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 12vh;
    width: 90%;
    margin: 5px;
}

.process-step-number{
    border: 1px solid rgba(223, 211, 211, 0.5);
    height: 10vh;
    width: 10vh;
    border-radius: 50%; 
    margin:5px;   
    display: flex;
    justify-content: center;
    align-items: center;

}

.process-step-icon{
    font-size: 5vh;
    color: #f1e7e7;
}

.process-step-title{
    margin-left: 10px;
    width: 40vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
}
.process-step-description{
    font-size: 0,5rem;
    color:rgba(112,126,144,1);
}

/*-- UNDERSTAND PAGE-LOGIC SECTION --*/
.process-section,
.understand-logic-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 70vh;    
    overflow: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .1);  
    backdrop-filter: blur(10px);
    margin: 5px;
}

.logic-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.scorecards-examples{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.logic-card-title{
    text-align: center;
}

.logic-description{
    width: 100%;
    padding: 10px;
    text-align: left;
}

.scorecard-example-theory{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vh;
    perspective: 1000px;
    border-radius: 5px;
    margin-top:5px;
}

.scorecard-element-style{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38vh;
    perspective: 1000px;
    border-radius: 10px;
    margin-top:5px;
    background-color: rgba(38, 80, 119, .05); 
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.understand-page-example{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.back-to-login{
    margin-top: 5px;
    margin-bottom: 45px;
}

/*-- SCORE_PAGE --*/
#js-projects{
    display:none;
    z-index: 5;
    height: 100%;
}

#js-theory{
    display:none;
    z-index: 6;
    height: 100%;
}

.score-page{
    display: flex;
    position: fixed;
    top:0;
    height:100vh;
    width:100vw;
}

.score-page-content{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

/*-- SCORE_PAGE_SUMMARY --*/
.scorepage-overall-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}

.scorepage-background{
    background-image: linear-gradient(to right, #454062, #404468, #3a486e, #314c73, #265077);
}

.scorepage-title-section{
    margin: 0 20px 0 20px;
    max-height: 7vh;
}
/*-- gradient generator: https://mycolor.space/gradient?ori=to+bottom&hex=%23454062&hex2=%237A759D&sub=1 --*/
.projects-background{
    background-image: linear-gradient(to bottom, #454062, #524d70, #5f5a7f, #6c678e, #7a759d);
}

.theory-background{
    background-color: rgba(38, 80, 119, .7);
}

.theory-background1{
    background-image: linear-gradient(to left top, #152c50, #213161, #333470, #49357d, #623387);
}

.score-theory-section{
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 85vh;
    width: 72vh;    
    position: relative;
    overflow: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
    order: 1;
}

.score-project-summary,
.score-theory-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 72vh;    
    position: relative;
    overflow: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
    order: 2;
}

.score-project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 72vh;    
    position: relative;
    overflow: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
    order: 1;
}

.theory-summary-title,
.project-summary-title{
    position: relative;
    margin-top: 10px;
    max-width: 50%;
    text-align: center;
    flex: 0 0 auto;
}

.progress-wrapper{
    width: 20vh;
}

.progress-score-bar{
    height: 3px;
    width: 100%
}

.projects-progress-bar{
    width: 0;
    background-color: black;
}

.theory-progress-bar{
    width: 0;
    background-color: black;
}



.chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vh;
    text-align: center;
    margin-top: 0;
}

.project-progress-title{
    text-align: center;
}

.chart-project-score{
    font-family:"Roboto-Mono", sans-serif;
    font-weight: 700;
    height: 100%;
}

.projects-score{
    position:relative;
    top: 47%;
    height: 5vh;
}

.button{
    margin-bottom: 20px;
 
}

/*-- CHART STYLING https://codepen.io/sergiopedercini/pen/aWawra?editors=1000 --*/
.circular-chart{
    width: 90%;
    max-height: 90%;
    margin-top: 0;
    padding: 10px;
    border-radius: 50%;

}

.circle-incomplete{
  stroke: #fd6470;
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  z-index: 1;
}

.circle-complete{
    stroke: rgba(0,0,0,0.2);
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/*-- PROJECTS-SCORING PAGE --*/



.scoring-logic-section{
    position: relative;
    height: 90vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll; 
    border: 1px solid #ccc;
}


.scorecard{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vh;
    perspective: 1000px;
}

.scorecard-face{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.ucfed-scorecard-animation,
.ifed-scorecard-animation,
.dcd-scorecard-animation,
.fsd-scorecard-animation,
.scorecard-animation{
    width: 100%;
    height: 100%;
    transition: transform  0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.scorecard-animation.is-open{
    transform: rotateY(180deg);
}

.scorecard-face-front{
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(38,80,119,0.5);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.scorecard-face-back{
    flex-direction:column;
    border-radius: 10px;
    background-color: rgba(56, 90, 122, 0.5);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.scorcard-score{
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    font-size: 3vh;
    margin-left: 5px;
}

.scorecard-title{
    width: 28vh;
    padding: 5px;
    text-align: center;
    line-height: 1.5;
}


.scorecard-options{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 5px;
    width: 35vh;
}


.projects-score-circle,
.score-circle {
    border: rgba(38,80,119,1);
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 2vh;
}

.card-score-definition{
    text-align: left;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 1.5vh;
}

.none{
    background-color: lightgrey;
}

.gold{
    background-color: rgba(207,181,59 ,1);
}
.bronze{
    background-color: rgba(205, 127, 50, 0.8);
}

.silver{
    background-color: rgba(108,132,134,0.8);
    transition: background-color 10ms ease-in-out;
}

.projects-score-circle.silver:hover,
.score-circle.silver:hover{
    background-color: rgba(108,132,134,1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

.projects-score-circle.bronze:hover,
.score-circle.bronze:hover{
    background-color: rgba(205, 127, 50, 1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

.projects-score-circle.gold:hover,
.score-circle.gold:hover{
    background-color: rgba(207,181,59 ,1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

/*-- THEORY SCORING PAGE--*/


/*-- Theory Element Scorecard --*/ 

.score-modules-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 70vh;    
    overflow: auto;
    border-radius: 10px;
}

.scorecard-module{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vh;
    flex: 0 0 auto;
}

.scorecard-animation-module{
    width: 100%;
    height: 15vh;
    transition: transform  0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.scorecard-face-module{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: rgba( 73,75,104, 0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    border: 1px solid #4d5052;
}



.scorecard-module-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.progress-wrapper-module{
    width: 15vh;
    margin-top: 15px;
    align-self: center;
    justify-content: space-around;
}

/*-- Theory Element Scorecard --*/ 


.scorecard-element{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36vh;
    perspective: 1000px;
    border-radius: 5px;
    margin-top:5px;
}

.scorecard-animation-element{
    width: 100%;
    height: 100%;
}



.scorecard-face-element{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.scorecard-face-front-element{
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);  
    backdrop-filter: blur(10px);
}

.scorecard-face-back-element {
    width: 100%;
    position: relative;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);  
    backdrop-filter: blur(10px);
    
}

.scorecard-title-element{
    width: 70%;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}

.scorecard-title-element1{
    width: 70%;
    padding: 5px;
    text-align: left;
    font-weight: 300;
}

.hidden{
    display: none;
}

.scorecard-title-mod{
    width: 25vh;
    padding: 5px;
    text-align: left;
    line-height: 1.2;
    margin-left:10px;
    font-size: 14px;
}

.progress-definition{
    text-align: center;
    margin-top: 10px;
    line-height: 1;
    font-size: 1.5vh;
}
.scorecard-logic{
    padding-left: 10px;
}
/*-- Connector to js progress calculator --*/

.module-progress-bar{
    width: 0;
    background-color: black;
}

/*-- DASHBOARD PREVIEW PAGE --*/

.dashboard-page-content{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
}

.dashboard-title-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.dashboard-page-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 650px;
    width: 560px;    
    overflow: auto;
    border: 1px solid #ccc;
    margin: 0 5px 0 5px;
    background-color:#f1f1f1;
    box-shadow:2px 2px 3px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    margin: 10px;
}

.dashboard-title{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.dashboard-subtitle{
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.dashboard-small-title{
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.dashboard-bold-text{
    font-size: 12px;
    text-align: center;
}

.dashboard-norm-text{
    font-size: 10px;
    text-align: center;
}

.dashboard-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.dashboard-body{
    width: 100%;
    height: 560px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.dashboard-footer{
    width: 100%;
    height: 40px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.dashboard-name{
    text-transform: uppercase;
    color: red;
    font-family:"Roboto Mono", sans-serif;
    margin: 0;
}

.dashboard-donuts-section{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.dashboard-detail-section{
    width: 100%;
    height: 320px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.dashboard-barcharts-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;

}

.dashboard-logic-section{
    width: 100%;
    height: 20160px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ccc;
}

.dashboard-logic-title,
.dashboard-donut-title{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
    flex: 0 0 auto;
}

.dashboard-donut{
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.dashboard-details-section{
    width: 100%;
    height: 320px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-detail{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.dashboard-project-medals{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dashboard-medal-wrapper{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dashboard-project-circle{
    height:56px;
    width: 56px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dashboard-project-title{
    flex: 3;
    height: 7vh;
    width: 70%;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.dashboard-modules-chart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dashboard-module-bar{
    width: 35%;
    height: 12px;
}

.dashboard-module-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    flex-direction: row;
}

.dashboard-module-title{
    height: 28px;
    width: 60%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.dashboard-skills-section{
    width: 33%;
    height: 320px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    flex: 0 0 auto;
}

.dashboard-skills-section.borders{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.dashboard-skills-title{
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    text-decoration: underline;
}

.dashboard-logics-wrapper{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.dashbord-logic-square{
    width: 50%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.dashboard-logic-description{
    font-size: 12px;
}

.dashboard-skill-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
    flex-direction: row;
}

.dashboard-skill-bar{
    width: 30%;
    height: 12px;
}

.dashboard-skill-title{
    height: 28px;
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
}

/*-- CHARTS --*/
.dashboard-donut-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    width: 160px;
    text-align: center;
    margin-top: 0;
}
.dashboard-circle-incomplete{
  stroke: red;
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  z-index: 1;
}

.dashboard-circle-complete{
    stroke: rgba(0,0,0,0.2);
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.dashboard-score-text{
    position: relative;
    top:40%;
    font-size: 25px;
    color: red;
}

.progress{
    background-color:rgba(0,0,0,0.2);
    border-radius: 1px;
}

.final-buttons-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

/*-- MODALS and WARNINGS --*/
.dashboard-modal-container,
.modal-container{
    background-color: rgba(000, 000, 000, 0.9);
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.score-modal{
    position: absolute;
    top:20%;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow:2px 2px 3px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.dashboard-modal{
    position: absolute;
    top:20%;
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow:2px 2px 3px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.modal-text{
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    font-weight: 500;    
}

.modal-header{
    text-align: center;
    color: red;
}

.modal-button{
    margin-bottom: 40px;
    border-radius:5px;
    background-color:black;
    border:none;
    color: #fafafa;
    height: 40px;
    padding: 10px 20px;
    box-shadow: inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
}

.hidden{
   display:none; 
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}