/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css?family=Fira+Code:100,200,300,400,500,600,700|Roboto+Mono:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-- KEEPING FOOTER AT THE BOTTOM --*/
html, body {
    width: 100%;
    height: 100%;
}
article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

p{
    margin: 0;
}
.shadow{
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.button-effect{
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}

/*-- GENERAL --*/

body{
    font-family: "Fira Code", sans-serif;
    font-weight: 200;
}

footer{
    padding: 10px;
    display: flex;
}

header{
    padding: 10px;
}

.page-title{
    text-align: center;
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #ccc;
}

.roboto {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.fira {
    font-family: "Fira Code",sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.score-text{
    text-transform: uppercase;
    font-family: "Roboto-Mono", sans-serif;
    font-weight: 700;
    font-size: 5vh;
    color: #fd6470;
    margin: 0;
    height: 100%;
}

.title-text{
    font-family: "Fire-code",sans-serif;
    font-size: 5vh;
    font-weight: 700;
}

.subtitle-text{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2vh;
    font-family: "Fira-code", sans-serif;

}

.middle-text{
    font-weight: 300;
    font-size:2vh;
    font-family: "Fira-code", sans-serif;
}

.small-text{
    text-transform: uppercase;
    font-family: "Fira-code", sans-serif;
    font-weight: 300;
    font-size: 1vh;
}

/*-- HEADER --*/
.top{
    display: flex;
    justify-content: flex-end;

}

.copyright{
    font-size: 20px;
    color: #ccc;
    justify-content: center;
}

/*-- TITLE --*/

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
    width: 50%;
    border: 1px solid #ccc;
}

.title-item{
    flex-basis: 700%;
    height: 10vh;
    margin: 10px;
}

.smaller-title{
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    margin-top: 20px;
}

.large-title{
    font-size: 60px;
    text-align: center;
    vertical-align: center;
    font-weight: 500;
}

/*-- MENU --*/
/*--
#js-card-menu{
    display:none;
    background:white;
    z-index: 5;
}

.wrapper-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    flex-basis: 70%;
    height: 12vh;
    border: 1px solid #ccc;
    border-radius:10px;
    margin: 10px;
}

.menu-step-title{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: flex-start;
    color: lightgray;
    font-weight: 400;
}
.menu-step-p{
    margin-bottom: 0;
}

#menu-button{
    font-size: 20px;
    cursor: pointer;
}

#js-card-score{
    background-color: lightgrey;
    cursor: pointer;
}

#back-button{
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin-left: 20px;
}

.icon {
    font-size: 30px;
}
--*/

/*-- LANDING PAGE --*/

.landing-page{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.landingpage-section,
.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 70vh;    
    overflow: auto;
    border: 1px solid #ccc;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    min-height: 50vh;
    width: 70%;
    border: 1px solid #ccc;
}

.login-explanation{
    text-align: center;
}

.login-inputs-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.login-input{
    min-width: 40vh;
    margin: 10px;
    border-radius:5px;
    border-bottom: 1px solid #ccc;
}
/*-- FANCY INPUT --*/

/*-- UNDERSTAND PAGE --*/

#js-understand-page{
    display:none;
}

.understand-page{
    display: block;
    position: fixed;
    top:0;
    left:0;
    background-color:lightslategray;
    height:100vh;
    width:100vw;
    overflow: scroll;
}

.understand-page-example,
.understand-page-logic{
    height: 90vh;
}

#js-card-understand {
    background-color: lightslategray;
    cursor: pointer;
}

.dashboard-pages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-dummy{
    height: 69vh;
    width: 50vh;
    border: 1px solid #ccc;
    order: 1;
    margin: 20px;
    background-position: center center;
	background-size: cover;
}


/*-- SCORE_PAGE --*/

.score-page{
    display: flex;
    position: fixed;
    top:0;
    height:100vh;
    width:100vw;
}

.score-page-content{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/*-- SCORE_PAGE_SUMMARY --*/

.score-project-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    width: 70vh;    
    overflow: auto;
    border: 1px solid #ccc;
}

.project-summary-title{
    position: relative;
    margin-top: 10px;
    max-width: 70%;
    text-align: center;
}

.progress-wrapper{
    width: 20vh;
}

.progress{
    height: 3px;
}

.progress-bar{
    width: 75%;
    background-color: rebeccapurple;
}

.chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vh;
    text-align: center;
    margin-top: 0;
}

.project-progress-title{
    text-align: center;
}

.chart-project-score{
    font-family:"Roboto-Mono", sans-serif;
    font-weight: 700;
    height: 100%;
}

.projects-score {
    position:relative;
    top: 47%;
    height: 5vh;
}

.button{
    margin-bottom: 20px;
 
}

/*-- CHART STYLING https://codepen.io/sergiopedercini/pen/aWawra?editors=1000 --*/
.circular-chart {
    width: 100%;
    max-height: 100%;
    margin-top: 0;
    padding: 10px;
}

.circle-incomplete {
  stroke: #fd6470;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  z-index: 1;
}

.circle-complete{

    stroke: rgba(0,0,0,0.1);
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
/*-- PROJECTS-SCORING PAGE --*/

.score-project-section{
    position: relative;
    height: 85vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll; 
}

.scorecard{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vh;
    perspective: 1000px;
}

.scorecard-face{
    height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.ucfed-scorecard-animation,
.ifed-scorecard-animation,
.dcd-scorecard-animation,
.fsd-scorecard-animation,
.scorecard-animation{
    width: 100%;
    height: 100%;
    transition: transform  0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.scorecard-animation.is-open{
    transform: rotateY(180deg);
}

.scorecard-face-front{
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background: lightgrey;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.scorecard-face-back{
    flex-direction:column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: lightgrey;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.scorcard-score{
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   font-size: 2vh;
   margin-left: 5px;
}

.scorecard-title{
    width: 28vh;
    padding: 5px;
    text-align: center;
    line-height: 1.5;
}

.scorecard-options{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 5px;
    width: 35vh;
}

.score-circle {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   background-color: #fafafa;
   font-size: 2vh;
}

.card-score-definition{
    text-align: center;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 2vh;
}

.none{
    background-color: lightgrey;
}


.gold{
    background-color: rgba(255,215,0 ,0.5);
}

.silver{
    background-color: rgba(108,132,134 ,0.5 );
}

.bronze{
    background-color: rgba(205, 127, 50, 0.5);;
}

.score-circle.bronze:hover{
    background-color: lightgrey;
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

.score-circle.gold:hover{
    background-color: rgba(255,215,0 ,1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

.score-circle.silver:hover{
    background-color: rgba(108,132,134,1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

.score-circle.bronze:hover{
    background-color: rgba(205, 127, 50, 1);
    box-shadow: 0 0 0 0;
    cursor: pointer;
    transition: background-color 10ms ease-in-out;
}

/*-- ANIMATION CLASSES FOR JQUERY --*/



/*-- SCORE-CARD --*/


